.app__container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: $home-bg-color;
  color: $home-font-color;
}

.home__menu {
  background-color: $home-menu-bg-color;
  border: $home-border solid $home-border-color;
  border-radius: $home-border-radius;
  min-width: 20vw;
  margin: 0;
  padding: 0;
  margin: $home-menu-spacing;
}

.current-user__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: $home-border solid $home-border-color;
  padding: $home-menu-spacing;
}

.current-user {
  margin: 0;
  margin-right: $home-menu-spacing;
}

.signout__btn {
  background-color: rgb(245, 54, 54);
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  display: flex;
  padding: 3px 1px;

  &:hover {
    background-color: rgb(201, 45, 45);
  }
}