.form-control {
  width: 100%;
}


.form-control input {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}



.form-control--invalid input {
  border-color: red;
  background: #ffd1d1;
}

.form-error {
  color: red;
  font-size: 0.775rem;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 550;
}
